node_modules/
**/*.log
.idea/
/docs/assets/fonts/arcive/
/src/assets/fonts/arcive/
/src/assets/images/Pitch.jpg
/src/assets/images/independence day.jpg
/src/assets/images/background.png
/prominent nigerians' profile.docx
/.~lock.prominent nigerians' profile.docx#
/docs/assets/images/profile/._Ojukwu.jpg
/docs/assets/images/profile/._tafawa balewa.jpg
/docs/assets/images/profile/._fela.jpg
/docs/assets/images/profile/._Dora .jpg
/docs/assets/images/profile/._Dora .psd
/docs/assets/images/profile/._Gani.jpg
/docs/assets/images/profile/._Ken saro wiwa .jpg
/docs/assets/images/profile/._Awo.jpg
/docs/assets/images/profile/._.DS_Store
/docs/assets/images/profile/._zik .jpg
/docs/assets/images/profile/._Murtalla mhmd.jpg
/docs/assets/images/profile/._Dr Ada.jpg
/docs/assets/images/profile/._Abu Ali.jpg
/docs/assets/images/profile/._Anthony enaoro.jpg
/docs/assets/images/profile/._Abiola.jpg
/docs/assets/images/profile/._Oputa .jpg
/docs/assets/images/profile/._Ahmadu bello.jpg
/docs/assets/images/profile/._Chinua.psd
/docs/assets/images/profile/._herbert.jpg
/src/assets/images/profile/._Murtalla mhmd.jpg
/src/assets/images/profile/._Ahmadu bello.jpg
/src/assets/images/profile/._Dora .jpg
/src/assets/images/profile/._Dora .psd
/src/assets/images/profile/._Gani.jpg
/src/assets/images/profile/._zik .jpg
/src/assets/images/profile/._.DS_Store
/src/assets/images/profile/._Abiola.jpg
/src/assets/images/profile/._Anthony enaoro.jpg
/src/assets/images/profile/._Chinua.psd
/src/assets/images/profile/._herbert.jpg
/src/assets/images/profile/._Ken saro wiwa .jpg
/src/assets/images/profile/._fela.jpg
/src/assets/images/profile/._Oputa .jpg
/src/assets/images/profile/._Dr Ada.jpg
/src/assets/images/profile/._tafawa balewa.jpg
/src/assets/images/profile/._Awo.jpg
/src/assets/images/profile/._Abu Ali.jpg
/src/assets/images/profile/._Ojukwu.jpg
