node_modules/
**/*.log
.idea/
/docs/assets/fonts/arcive/
/src/assets/fonts/arcive/
/src/assets/images/Pitch.jpg
/src/assets/images/independence day.jpg
/src/assets/images/background.png
/prominent nigerians' profile.docx
/.~lock.prominent nigerians' profile.docx#
