* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.lucozade-red {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#479b30), to(#3C8129));
    background: -webkit-linear-gradient(#479b30, #3C8129);
    background: linear-gradient(#479b30, #3C8129);
    border-color: #fff;
}

@font-face {
    font-family: 'Futura-Medium';
    src: url('../assets/fonts/Futura-Medium.eot');
    src: url('../assets/fonts/Futura-Medium.woff2') format('woff2'),
    url('../assets/fonts/Futura-Medium.woff') format('woff'),
    url('../assets/fonts/Futura-Medium.ttf') format('truetype'),
    url('../assets/fonts/Futura-Medium.svg#Futura-Medium') format('svg'),
    url('../assets/fonts/Futura-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-MediumItalic';
    src: url('../assets/fonts/Futura-MediumItalic.eot');
    src: url('../assets/fonts/Futura-MediumItalic.woff2') format('woff2'),
    url('../assets/fonts/Futura-MediumItalic.woff') format('woff'),
    url('../assets/fonts/Futura-MediumItalic.ttf') format('truetype'),
    url('../assets/fonts/Futura-MediumItalic.svg#Futura-MediumItalic') format('svg'),
    url('../assets/fonts/Futura-MediumItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-Bold';
    src: url('../assets/fonts/Futura-Bold.eot');
    src: url('../assets/fonts/Futura-Bold.woff2') format('woff2'),
    url('../assets/fonts/Futura-Bold.woff') format('woff'),
    url('../assets/fonts/Futura-Bold.ttf') format('truetype'),
    url('../assets/fonts/Futura-Bold.svg#Futura-Bold') format('svg'),
    url('../assets/fonts/Futura-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-CondensedMedium';
    src: url('../assets/fonts/Futura-CondensedMedium.eot');
    src: url('../assets/fonts/Futura-CondensedMedium.woff2') format('woff2'),
    url('../assets/fonts/Futura-CondensedMedium.woff') format('woff'),
    url('../assets/fonts/Futura-CondensedMedium.ttf') format('truetype'),
    url('../assets/fonts/Futura-CondensedMedium.svg#Futura-CondensedMedium') format('svg'),
    url('../assets/fonts/Futura-CondensedMedium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-CondensedExtraBold';
    src: url('../assets/fonts/Futura-CondensedExtraBold.eot');
    src: url('../assets/fonts/Futura-CondensedExtraBold.woff2') format('woff2'),
    url('../assets/fonts/Futura-CondensedExtraBold.woff') format('woff'),
    url('../assets/fonts/Futura-CondensedExtraBold.ttf') format('truetype'),
    url('../assets/fonts/Futura-CondensedExtraBold.svg#Futura-CondensedExtraBold') format('svg'),
    url('../assets/fonts/Futura-CondensedExtraBold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body,
button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background: -webkit-radial-gradient(rgba(37, 161, 58, 1), rgba(1, 58, 10, 1));
    background: radial-gradient(rgba(37, 161, 58, 1), rgba(1, 58, 10, 1));
    position: relative;
}

.top {
    padding-top: 0.3em;
    position: absolute;
    right: 0.3em;
    width: 70%;
}

.top .title {
    font-family: "Futura-Medium", sans-serif;
    color: white;
    text-align: right;
    font-size: 1.1em;
}

.top .title strong {
    font-size: 1.1em;
}

.logo {
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.logo-ourgreenheroes {
    position: fixed;
    left: 0.5em;
    top: 0.3em;
    z-index: 1000;
    background-image: url("../assets/images/logo.png");
    width: 120px;
    height: -webkit-calc(120px / 3.1);
    height: calc(120px / 3.1);
}

footer {
    display: flex;
    background: #e3e3e3;
    font-family: "Futura-Medium";
    font-size: 0.8em;
    align-items: center;
}
@media (min-width: 768px) {
 footer{
     font-size: 1em;
 }
    .logo-footer{
        height: 40px;
    }
    .logo-neukleos {
        width: 44px;
    }

    .logo-imageandtime {
        width: -webkit-calc(40px * 4.2);
        width: calc(40px * 4.2);
    }
}

footer p {
    margin: 0.5em;
    flex:1;
}

.logo-footer{
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    margin: 0 0.5em;
    height: 25px;
}

.logo-neukleos {
    background-image: url("../assets/images/neukleos-logo.png");
    width: 27.5px;
}

.logo-imageandtime {
    background-image: url("../assets/images/imageandtime-logo.png");
    width: -webkit-calc(25px * 4.2);
    width: calc(25px * 4.2);
}

@media (min-width: 768px) {
    .top {
        right: unset;
        width: 100%;
    }

    .top .title {
        font-family: "Futura-Medium", sans-serif;
        color: white;
        text-align: center;
        font-size: 1.3em;
        text-transform: uppercase;
    }

    .top .title strong {
        font-size: 1.1em;
    }

    .logo {
        position: fixed;
        left: 0.5em;
        top: 0.3em;
        z-index: 1000;
        width: 180px;
        height: -webkit-calc(180px / 3.1);
        height: calc(180px / 3.1);
        background-image: url("../assets/images/logo.png");
        -webkit-background-size: contain;
        background-size: contain;
    }
}

.green {
    color: #7CD881;
}

#studio {
    position: absolute;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

#view {
    width: 450px;
    height: 500px;
    padding: 5px;
    margin: 0 auto;
    position: relative;
}

#canvas-outer,
#loading {
    width: 100%;
    height: 100%;
}

#canvas-outer {
    position: relative;
    z-index: 1;
}

#loading {
    position: absolute;
    top: 0;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin: auto;
}

#loading span {
    margin: auto;
    color: #7CD881;
    display: none;
}

#controls {
    text-align: center;
    margin: 1.5em auto 0;
    padding: 0 10px;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    width: 433px;
}

#addPhotoOnly button,
#slider {
    width: 100%;
}

#moreOptions button {
    width: -webkit-calc(100% / 3.1);
    width: calc(100% / 3.1);
}

#tools {
    margin-bottom: 10px;
}

#slider {
    margin: 0 auto 10px;
}

#tools span {
    margin-right: 20px;
}

#tools span:before {
    font-family: FontAwesome;
}

#zoom-tool:before {
    content: "\f047";
}

#contrast-tool:before {
    content: "\f042";
}

#brightness-tool:before {
    content: "\f185";
}

#view .canvas-container {
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: scale(.5, .5);
    -ms-transform: scale(.5, .5);
    transform: scale(.5, .5);
}

#down-dir i {
    position: absolute;
    right: 1rem;
    z-index: 999;
}

#down-dir i {
    color: #fff;
    bottom: 1rem;
    font-size: 2rem;
}

body > textarea {
    left: 0 !important;
    top: 75% !important;
}

@media (max-width: 500px) {
    #tools {
        font-size: 0.784rem;
    }
}

@media (max-width: 500px) and (min-width: 341px) {

    .top {
        width: 65%
    }

    .top .title {
        font-size: 0.9em;
    }

    #controls {
        width: 336px;
    }

    #view {
        width: 350px;
        height: 390px;
    }

    .btn {
        font-size: 0.78rem;
    }

    #view .canvas-container {
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -webkit-transform: scale(.38, .38);
        -ms-transform: scale(.38, .38);
        transform: scale(.38, .38);
    }
}

@media (max-width: 340px) {
    .logo {
        width: 100px;
        height: -webkit-calc(100px / 3.1);
        height: calc(100px / 3.1);
    }

    .top {
        width: 65%
    }

    .top .title {
        font-size: 0.8em;
    }

    #view,
    #loading {
        width: 310px;
        height: 344.44px;
    }

    .btn {
        font-size: 0.66rem;
    }

    #controls {
        width: 328px;
    }

    #view .canvas-container {
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -webkit-transform: scale(.335, .335);
        -ms-transform: scale(.335, .335);
        transform: scale(.335, .335);
    }
}

#share-modal .modal-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1rem;
}

#share-modal .modal-inner a {
    color: white;
    margin: 0.5rem 1rem;
}

#share-modal .fa {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

#share-modal .fa:hover {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

#facebook-share {
    background: #3b5998;
}

#twitter-share {
    background: #4099FF;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram {
    color: white;
}

.gallery {
    background: #000;
    letter-spacing: 1px
}

.gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden
}

.gallery ul li {
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    width: 33.333333333333%;
    overflow: hidden
}

.gallery ul li .over {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: .5s;
    transition: .5s;
    padding: 2rem 1.5rem;
}

.gallery ul li .over .over-inner {
    display: table;
    width: 100%;
    height: 100%
}

.gallery ul li .over .over-inner .over-cell {
    display: table-cell;
    vertical-align: middle;
}

.gallery ul li .over strong {
    letter-spacing: 0.1em;
    color: #5ec143;
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    display: block;
    font-size: 1.2em;
}

.gallery ul li .over p {
    letter-spacing: 0.1em;
    color: #fff;
    font-size: 0.8em;
}

.gallery ul li .over em {
    color: #5ec143;
}

.gallery ul li .over p a {
    color: #999;
    text-decoration: underline
}

.gallery ul li .over p a:hover {
    color: #3C8129
}

.gallery ul li .video {
    text-align: center;
    color: #fff
}

.gallery ul li .video .play {
    width: 50px
}

.gallery ul li .video h3 {
    font-size: 22px;
    color: #fff;
    line-height: 26px;
    padding: 20px 10px 0 20px;
    margin: 0;
    font-weight: 400
}

.gallery ul li .bg-img {
    width: 100%;
    display: block
}

@media (max-width: 500px) {
    .gallery ul li {
        width: 100%
    }

    .gallery ul li .over {
        position: relative;
        height: auto;
        display: block;
        background: #000;
        opacity: 1
    }

    .gallery ul li .video {
        padding: 30px
    }
}

@media (min-width: 501px) and (max-width: 800px) {
    .gallery ul li {
        width: 50%
    }
}

.gallery ul li:hover .over {
    opacity: 1
}

.btn {
    border-radius: 0.5rem;
}